.header{
	font-size: 30px;
	font-weight: bold;
}
form{
	 display: inline-block;
	width: 500px;
	height: 250px;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 20px;
}
div{
	align:center"
}
button{
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	background-color: white;
}
.tblMainCol{
	font-weight: bold;
}