body{
	background: url('../img/pattern.jpg');
	
}

section{
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	font-family: "Duru Sans", Verdana, sans-serif;
	width: 60%;
	background: white; 
}

#article-list{
	margin-top: 50px;
	background-color: white;
}

#article-list div{
	padding; 30px 10px;
}

#article-list div h3{
	padding-bottom: 20px;
}

#article-list div p{
	border-bottom: 1px solid;
}

h1{
	text-align: center;
	margin: 0 auto;
}

header {
  padding: 10px 16px;
  background: white;
  color: #f1f1f1;
  position: fixed;
  width: 100%;
  top: 0;
	left: 0;
}

header ul{
	display: flex;
	list-style: none;
}

header ul a{
	padding-right: 10px;
}
nav{
	float:right;
}

footer{
	background: black;
	text-align: center;
	
	color: white;
	height: 30px;
}
footer h5{
	justify-content: center;
	margin-top: 50px;
	top: 20px;
}